<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boss1_left_run1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{50, 60}, {227, 254}}</string>
			<key>spriteOffset</key>
			<string>{21.5, -25}</string>
			<key>spriteSize</key>
			<string>{227, 254}</string>
			<key>spriteSourceSize</key>
			<string>{284, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 8}, {254, 227}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boss1_left_run2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{50, 60}, {227, 254}}</string>
			<key>spriteOffset</key>
			<string>{21.5, -25}</string>
			<key>spriteSize</key>
			<string>{227, 254}</string>
			<key>spriteSourceSize</key>
			<string>{284, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 252}, {254, 227}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boss1_right_run1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 60}, {227, 254}}</string>
			<key>spriteOffset</key>
			<string>{-21.5, -25}</string>
			<key>spriteSize</key>
			<string>{227, 254}</string>
			<key>spriteSourceSize</key>
			<string>{284, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 496}, {254, 227}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boss1_right_run2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 60}, {227, 254}}</string>
			<key>spriteOffset</key>
			<string>{-21.5, -25}</string>
			<key>spriteSize</key>
			<string>{227, 254}</string>
			<key>spriteSourceSize</key>
			<string>{284, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 740}, {254, 227}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boss1_stand</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{58, 58}, {184, 256}}</string>
			<key>spriteOffset</key>
			<string>{8, -24}</string>
			<key>spriteSize</key>
			<string>{184, 256}</string>
			<key>spriteSourceSize</key>
			<string>{284, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 8}, {184, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster1_die1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 38}, {52, 102}}</string>
			<key>spriteOffset</key>
			<string>{-16, -18}</string>
			<key>spriteSize</key>
			<string>{52, 102}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 744}, {52, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster1_die2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 87}, {115, 53}}</string>
			<key>spriteOffset</key>
			<string>{11.5, -42.5}</string>
			<key>spriteSize</key>
			<string>{115, 53}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 280}, {53, 115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster1_poison1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {139, 140}}</string>
			<key>spriteOffset</key>
			<string>{0.5, -0}</string>
			<key>spriteSize</key>
			<string>{139, 140}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 592}, {140, 139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster1_poison2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {140, 141}}</string>
			<key>spriteOffset</key>
			<string>{1, 0.5}</string>
			<key>spriteSize</key>
			<string>{140, 141}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 280}, {141, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster1_poison3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {140, 141}}</string>
			<key>spriteOffset</key>
			<string>{1, 0.5}</string>
			<key>spriteSize</key>
			<string>{140, 141}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 436}, {141, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster1_stand</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 40}, {53, 101}}</string>
			<key>spriteOffset</key>
			<string>{-0.5, -19.5}</string>
			<key>spriteSize</key>
			<string>{53, 101}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 628}, {53, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster2_die1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 56}, {65, 84}}</string>
			<key>spriteOffset</key>
			<string>{-0.5, -27}</string>
			<key>spriteSize</key>
			<string>{65, 84}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 528}, {65, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster2_die2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 82}, {85, 58}}</string>
			<key>spriteOffset</key>
			<string>{9.5, -40}</string>
			<key>spriteSize</key>
			<string>{85, 58}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 1472}, {85, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster2_jump</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 42}, {61, 98}}</string>
			<key>spriteOffset</key>
			<string>{-2.5, -20}</string>
			<key>spriteSize</key>
			<string>{61, 98}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 412}, {61, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster2_stand</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 61}, {59, 79}}</string>
			<key>spriteOffset</key>
			<string>{-3.5, -29.5}</string>
			<key>spriteSize</key>
			<string>{59, 79}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 1404}, {79, 59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster3_die1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 16}, {118, 126}}</string>
			<key>spriteOffset</key>
			<string>{-7, -8}</string>
			<key>spriteSize</key>
			<string>{118, 126}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 748}, {126, 118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster3_die2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 68}, {135, 74}}</string>
			<key>spriteOffset</key>
			<string>{-0.5, -34}</string>
			<key>spriteSize</key>
			<string>{135, 74}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 860}, {74, 135}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster3_left</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 38}, {117, 104}}</string>
			<key>spriteOffset</key>
			<string>{6.5, -19}</string>
			<key>spriteSize</key>
			<string>{117, 104}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 1104}, {117, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster3_left_bullet1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 36}, {123, 106}}</string>
			<key>spriteOffset</key>
			<string>{9.5, -18}</string>
			<key>spriteSize</key>
			<string>{123, 106}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 1036}, {106, 123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster3_left_bullet2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 34}, {136, 108}}</string>
			<key>spriteOffset</key>
			<string>{-3, -17}</string>
			<key>spriteSize</key>
			<string>{136, 108}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 884}, {108, 136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster3_right</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 38}, {117, 104}}</string>
			<key>spriteOffset</key>
			<string>{-6.5, -19}</string>
			<key>spriteSize</key>
			<string>{117, 104}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 1124}, {104, 117}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster3_right_bullet1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 36}, {123, 106}}</string>
			<key>spriteOffset</key>
			<string>{-9.5, -18}</string>
			<key>spriteSize</key>
			<string>{123, 106}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 1156}, {106, 123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster3_right_bullet2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 34}, {136, 108}}</string>
			<key>spriteOffset</key>
			<string>{3, -17}</string>
			<key>spriteSize</key>
			<string>{136, 108}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 980}, {136, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster4_left_die1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 53}, {103, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1.5, -26.5}</string>
			<key>spriteSize</key>
			<string>{103, 89}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 1368}, {103, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster4_left_die2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 46}, {100, 96}}</string>
			<key>spriteOffset</key>
			<string>{-9, -23}</string>
			<key>spriteSize</key>
			<string>{100, 96}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 1344}, {100, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster4_left_die3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 46}, {93, 96}}</string>
			<key>spriteOffset</key>
			<string>{-5.5, -23}</string>
			<key>spriteSize</key>
			<string>{93, 96}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 1296}, {96, 93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster4_left_run1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 34}, {94, 108}}</string>
			<key>spriteOffset</key>
			<string>{4, -17}</string>
			<key>spriteSize</key>
			<string>{94, 108}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 1172}, {108, 94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster4_left_run2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 14}, {92, 128}}</string>
			<key>spriteOffset</key>
			<string>{5, -7}</string>
			<key>spriteSize</key>
			<string>{92, 128}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 1012}, {92, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster4_right_die1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 53}, {103, 89}}</string>
			<key>spriteOffset</key>
			<string>{1.5, -26.5}</string>
			<key>spriteSize</key>
			<string>{103, 89}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 1456}, {89, 103}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster4_right_die2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 46}, {100, 96}}</string>
			<key>spriteOffset</key>
			<string>{9, -23}</string>
			<key>spriteSize</key>
			<string>{100, 96}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 1284}, {100, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster4_right_die3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 46}, {93, 96}}</string>
			<key>spriteOffset</key>
			<string>{5.5, -23}</string>
			<key>spriteSize</key>
			<string>{93, 96}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 1396}, {96, 93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster4_right_run1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 34}, {94, 108}}</string>
			<key>spriteOffset</key>
			<string>{-4, -17}</string>
			<key>spriteSize</key>
			<string>{94, 108}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 1260}, {108, 94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>monster4_right_run2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 14}, {92, 128}}</string>
			<key>spriteOffset</key>
			<string>{-5, -7}</string>
			<key>spriteSize</key>
			<string>{92, 128}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 980}, {92, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>monster4_stand</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 34}, {103, 108}}</string>
			<key>spriteOffset</key>
			<string>{0.5, -17}</string>
			<key>spriteSize</key>
			<string>{103, 108}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 1224}, {108, 103}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>monster_UntitledSheet.png</string>
	</dict>
</dict>
</plist>
