<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>role1Stand</key>
		<dict>
			<key>delay</key>
			<real>0.30000001192092896</real>
			<key>frames</key>
			<array>
				<string>role_stand1</string>
				<string>role_stand2</string>
				<string>role_stand3</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
